<html>
    <head>
        <title>I Just Called to say....</title>
    </head>
    <body>
      <h1>that right now it is...</h1>
      <% time = Time.now %>

      <h1> The date is Tuesday, June 06, 2017 </h1>
    </body>
</html>
